<template>
  <div class="row">
    <div class="col">VueJs Shop</div>
    <div class="col nav">
      <ul>
        <li>About</li>
        <li>Search</li>
      </ul>
    </div>
  </div>
</template>

<style scoped>
.row {
  border: 1px solid gray;
  vertical-align: middle;
}

.nav {
  justify-content: right;
}

.nav li {
  display: inline;
  margin-left: 20px;
}
</style>
