<template>
  <ul ref="sidenav" id="slide-out" class="sidenav sidenav-fixed">
    <h3 class="logo">VueJS Shop</h3>
    <li>
      <a href="#!"><i class="material-icons">cloud</i>
      <span>Dashboard</span></a>
    </li>
    <li>
      <a href="#!"><i class="material-icons">user</i>Users</a>
    </li>
    <ul ref="productCollapsible" class="collapsible">
      <li>
        <div class="collapsible-header"><i class="material-icons">cloud</i>Products</div>
        <div class="collapsible-body">
          <ul>
            <li><a href="#!">Add Products</a></li>
            <li><a href="#!">List Products</a></li>
            <li><a href="#!">Modify Products</a></li>
            <li><a href="#!">-Reserved-</a></li>
          </ul>
        </div>
      </li>
    </ul>
    <li>
      <a href="#!"><i class="material-icons">settings</i>Settings</a>
    </li>
  </ul>
</template>

<script>
import { defineComponent, onMounted, ref } from 'vue';

export default defineComponent({
  setup() {
    const sidenav = ref(null);
    const productCollapsible = ref(null);

    onMounted(() => {
      var sidenavInstance = M.Sidenav.init(sidenav.value);
      var productCollapsibleInstance = M.Collapsible.init(productCollapsible.value);
    });

    return {
      sidenav,
      onMounted,
      productCollapsible
    };
  }
});
</script>

<style scoped>
.logo {
  text-align: center;
}

.sidenav li > a {
  padding: 0 16px;
}

.sidenav li > a > i,
.sidenav li > a > [class^='mdi-'],
.sidenav li > a li > a > [class*='mdi-'],
.sidenav li > a > i.material-icons {
  margin: 0 20px 0 0;
}

.collapsible-body ul li a {
  margin-left: 32px;
}
</style>
