<template>
  <main>
    <div class="content">
      <div class="top-navbar">
        <a href="#" data-target="slide-out" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
      </div>
      <h1>This is Dashboard page.</h1>
      <p v-if="state.user">
        <span>Logged in user: </span>
        <span>{{ state.user.email }}</span>
      </p>
      <a href="/api/auth/logout">Logout</a>
    </div>

    <Sidebar />
  </main>
</template>

<script>
import { defineComponent, watch } from 'vue';
import router from '../router';
import { state } from '../stores/global';
import Sidebar from '../components/Sidebar.vue';

export default defineComponent({
  components: {
    Sidebar
  },

  setup() {
    watch(
      () => state.user,
      (newVal, oldVal) => {
        if (!state.user) return router.push('/login');
      }
    );

    return {
      state
    };
  }
});
</script>

<style scoped>
.content {
  padding-left: 300px;
}

.top-navbar {
  height: 100px;
  background: red;
}

.top-navbar>a>i {
  color: white;
  font-size: 50px;
}

.top-navbar .sidenav-trigger {
  display: none;
}

@media only screen and (max-width: 992px) {
  .content {
    padding-left: 0;
  }

  .top-navbar .sidenav-trigger {
    display: unset;
  }
}
</style>
