<template>
  <navbar />
  <h1>This is home page.</h1>
</template>

<script>
import { defineComponent } from 'vue';
import Navbar from '../components/Navbar.vue';

export default defineComponent({
  components: {
    Navbar
},
  setup() {}
});
</script>
