<template>
  <div class="card center">
    <div class="card-content">
      <div class="input-field">
        <input id="username" type="text" v-model="username" @keyup="usernameKeyup" />
        <label for="username">Email or Phone</label>
      </div>

      <div class="input-field">
        <input id="password" type="password" v-model="password" @keyup="passwordKeyup" />
        <label for="password">Password</label>
      </div>

      <span class="color-red left" v-if="errorMsg != ''"> Error: {{ errorMsg }} </span>

      <!-- display: block -->
      <a ref="loginButton" class="waves-effect waves-light btn login-btn" disabled v-on:click="loginButtonClicked">Login</a>
    </div>
  </div>
</template>

<script>
import { defineComponent, ref, watch } from 'vue';
import axios from 'axios';
import { state, updateUser } from '../stores/global';
import router from '../router';

export default defineComponent({
  setup() {
    const username = ref('');
    const password = ref('');
    const errorMsg = ref('');
    const loginButton = ref(null);

    watch(username, (newVal, oldVal) => {
      disableLoginButton();
    });

    watch(password, (newVal, oldVal) => {
      disableLoginButton();
    });

    // If user tries to go to /login when he's already logged in
    // we need to redirect him to /dashboard.
    //
    // How do we have state.user? Check App.vue.
    watch(() => state.user, (newVal, oldVal) => {
      if (state.user) return router.push('/dashboard');
    })

    /**
     * Triggered when Login button is clicked.
     */
    const loginButtonClicked = ev => {
      const params = {
        username: username.value,
        password: password.value
      };

      // Make a request to /api/auth so that the backend
      // can check for its authentication.
      axios
        .post('/api/auth/', params)
        .then(res => {
          const { error, data } = res.data;

          // Is there an error? If so, display it.
          if (error) return (errorMsg.value = error);

          updateUser(data);
          router.push('/dashboard');
        })
        .catch(err => (errorMsg.value = err.message));
    };

    const disableLoginButton = () => {
      // NOTE: disabled attribute is added into the button's
      // HTMLElement if the button is disabled.
      //
      // This prevents the users to click on the Login button
      // when there are no username/password provided.
      //
      // We can remove the disabled attribute if we want to
      // enable again.
      if (username.value != '' && password.value != '') loginButton.value.removeAttribute('disabled');
      else loginButton.value.setAttribute('disabled', true);
    };

    const usernameKeyup = ev => {
      if (ev.key == 'Enter') loginButtonClicked(ev);
    };

    const passwordKeyup = ev => {
      if (ev.key == 'Enter') loginButtonClicked(ev);
    };

    return {
      username,
      password,
      errorMsg,
      loginButton,
      loginButtonClicked,
      usernameKeyup,
      passwordKeyup
    };
  }
});
</script>

<style scoped>
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  width: 30%;
}

.card-title {
  font-size: 30px;
  font-weight: bold;
}

.login-btn {
  width: 100%;
}

.color-red {
  color: red;
}
</style>
