<template>
  <router-view></router-view>
</template>

<script>
import axios from 'axios';
import { defineComponent, onBeforeMount } from 'vue';
import { updateUser } from './stores/global';

export default defineComponent({
  setup() {
    onBeforeMount(() => {
      // Getting the logged in user.
      axios
        .get('/api/auth')
        .then(res => {
          let { data } = res.data;
          updateUser(data);
        })
        .catch(console.error);
    });
  }
});
</script>

<style scoped>
.container {
  width: 1200px;
  height: 35px;
}
</style>
